# Ignore Python bytecode
__pycache__/

# Ignore pytest cache
pytest_cache/

# Ignore virtual environment directory
.venv/

# Ignore allure-result
allure-results/

# Ignore screenshots folder
screenshots/

# Ignore helper folder
helper/